---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/PokemonCard.astro";

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonResponse;

  return results.map((pokemon) => ({
    params: { name: pokemon.name },
    props: { pokemon },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { pokemon } = Astro.props;

const id = pokemon.url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
  title=`Pokemon ${id}-${name}`
  description=`información sobre el pokemon ${name}`
  image={imgSrc}
>
  <section>
    <a href="/">Regresar</a>
    <h1>{id} {name}</h1>
    <PokemonCard pokemon={pokemon} isBig />
    <audio controls class="mt-2">
      <source src={audioSrc} type="audio/ogg" />
    </audio>
  </section>
</MainLayout>
