---
interface Props {
  pokemon: Pokemon;
  isBig?: boolean;
}

const { pokemon, isBig = false } = Astro.props;
const id = pokemon.url.split("/").at(-2);
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a
  href=`/pokemons/${pokemon.name}`
  class:list={[
    `flex flex-col justify-center items-center rounded-xl p-2`,
    { "border-2": !isBig },
  ]}
>
  <img
    class:list={[{ "h-72": isBig, "h-28": !isBig }]}
    src={imgSrc}
    alt=`${pokemon.name}-img`
    transition:name={`${pokemon.name}-img`}
  />
  <span class:list={[`capitalize`, { "text-3xl": isBig }]}>{pokemon.name}</span>
</a>
