---
import "../styles/global.css";
import NavBar from "@components/common/NavBar.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "Pokemon list",
  description = "A static site with Pokemon data",
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content="maplop" />

    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <title>{title}</title>
  </head>
  <body class="bg-slate-950 text-slate-100 m-auto max-w-3xl">
    <NavBar />
    <main class="my-9">
      <slot />
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>
